body {
    background-color: #222;
}

.content_text {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.content_text .mood {
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #111;
    border-radius: 10px;
    padding: 0 4px;
    margin: auto;
}

.content_text .mood p {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #222;
}

.check {
    position: absolute;
    left: 50%;
    height: 20px;
    display: block;
    width: 40px;
    transform: translateX(-50%);
    opacity: 0;
}

.check:checked ~ .mood {background: #111; border-color: #fff}

.check:checked ~ .mood p{
    background-color: #fff;
    float: right;
}

label {color: #fff;}

input, textarea {
    background-color: #111 !important;
    border-color: #000 !important;
    color: #fff !important;
}

table tbody tr td,
table thead th {
    color: #fff;
    font-weight: normal;
    text-transform: capitalize;
}

input:focus, textarea:focus {
    border: none !important;
    border-radius: 0 !important;
    outline: none !important;
    border-left: none !important;
    border-bottom: 3px solid #000 !important;
    box-shadow: none !important;
}
/* #0d6efd40 color very good */
